<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895511986897-r4cpo5mg047htplsq2ktoivg5vbt8pcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895511986897-r4cpo5mg047htplsq2ktoivg5vbt8pcj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>895511986897-mrqrcs452l7niro9fm2ejoebh1gmppad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQhQxitvTEiajJQUA2YmhsUMrY-7OpZGo</string>
	<key>GCM_SENDER_ID</key>
	<string>895511986897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyecto</string>
	<key>PROJECT_ID</key>
	<string>tesis-app-2692</string>
	<key>STORAGE_BUCKET</key>
	<string>tesis-app-2692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895511986897:ios:32bb1247aaa76043c77bf0</string>
</dict>
</plist>